* {
    box-sizing: border-box;
}

body {
    color: blue;
}

.title-big {
    color: brown;
}
h2 {
    color: green;
}
.title-big:hover {
    color: blue;
}
input[type="text"],
input[type="email"] {
    width: 200px;
}
.header {
    background: gray;
}
.article {
    background: blueviolet;
}
.footer {
    background: brown;
}